<!DOCTYPE html>
<html>
	<head>
		<title>detail media</title>
		<meta http-equiv="Content-Type" content="text/html"; charset='utf-8'/> <!--une prise en chagrer des accents assez curieuse -->
		<link href="design.css" rel="stylesheet" type="text/css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
		<script src="jquery.carouFredSel-6.2.1.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			    // Using default configuration
			    $('#carousel').carouFredSel();
			
			    // Using custom configuration
			    $('#carousel').carouFredSel({
			        items               : 4,
			        direction           : "up",
			        scroll : {
			            items           : 1,
			            easing          : "quadratic",
			            duration        : 500,                         
			            pauseOnHover    : true
			        }                   
			    });
			});
			$(document).ready(function() {
			    // Using default configuration
			    $('#carousel2').carouFredSel();
			
			    // Using custom configuration
			    $('#carousel2').carouFredSel({
			        items               : 7,
			        direction           : "up",
			        scroll : {
			            items           : 7,
			            easing          : "quadratic",
			            duration        : 2500,                         
			            pauseOnHover    : false
			        }                   
			    });
			});
		</script>
	</head>
	<body>
		<div id="header">
			<div>banniere client consultation</div>
		</div>
		<div id="menu">				
				<div id="carousel" >
					<img src="img/b1.jpeg"/>
					<img src="img/b2.jpeg"/>
					<img src="img/b3.jpeg"/>
					<img src="img/b4.jpeg"/>
					<img src="img/b5.jpeg"/>
					<img src="img/b6.jpeg"/>
					<img src="img/b7.jpeg"/>
					<img src="img/b13.jpeg"/>
					<img src="img/b9.jpeg"/>
				</div>
		</div>
		<div id="menu-h">
			<ul><div>menu</div>
			</ul>
			<ul><div>menu</div>
			</ul>
			<ul><div>menu</div>
			</ul>
		</div>
		
		<div id="wrapper">
			corp
		</div>
		
		<div id="footer">
			<div class"subfooter"></div>
		</div>
		
	</body>
	

</html>