/* 
    Document   : design
    Created on : Feb 11, 2014, 7:39:34 PM
    Author     : optimus
    Description:
        Purpose of the stylesheet follows.
*/


/**************************************************************************************************************************
                                            DESIGN DE LA HOME PAGE COTÉ FRONT CONTROLLER
***************************************************************************************************************************/

#header {
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
    margin-bottom: 10px;
}

.menu ul li{
   list-style-type: none;
}

#menu-h {
    background-color: bisque;
}
    #menu-h ul li {
        display: inline-block;
        background-color: red;
        padding: 5px;
        /*margin: 10px;*/
        position: relative;
        padding-left: 0;
        z-index: 1;
    }

#menu-v {
    background-color: rosybrown;
    float: left;
    width: 150px;
    height: 63%;
}
    #menu-v ul li {
        position: relative;
        background-color: teal;
        padding: 5px;
        margin-bottom: 5px;
        right: 20px;
    }
    
#menu-h ul li ul {
    display: none;
    padding: 0;
}

#menu-h ul li:hover ul {
    display: block;
    position: absolute;
}

.s-menu{
    background-color: yellowgreen;
}
    
#wrapper {
    position: relative;
    background-color: background;
    width: 88.65%;
    min-height: 63%;
    margin-left: 160px;
    margin-bottom: 10px;
}

#rendu-gd {
    position: relative;
    top: 50px;
    width: 80%;
    height: 50%;
    background-color: yellowgreen;
    display: inline-block;
}

#carousel {
    position: relative;
    background-color: wheat;
    width:  10%;
    height: 50%;
    display: inline-block;
    margin-left: 5%;
    top: 50px;
    vertical-align: top;
}

.carrousel {
    	margin :0;
	padding:0;
	height :75px;
}

.carrousel li {
    float:left;
    width:75px;
    height:75px;
    margin:0;
    padding:0;
    list-style:none;
    color:#FFF;
    font:3em/1.2 Georgia, "Times New Roman", Times, serif;
    text-align:center;
    background:#C00;
}

#footer {
    background-color: gold;
    width:  100%;
    height: 100px;
}

.rendu-jacket {
    position: relative;
    display: inline-block;
    background-color: goldenrod;
    margin: 10px;
    width:  300px;
    /*height: 300px;*/
    height: 90%;
}

.description-film {
    background-color: goldenrod;
    display: inline-block;
    width:  66%;
    height: 90%;
    margin: 10px;
    margin-left: 0;
}

/**************************************************************************************************************************
                                            DESIGN DE LA HOME PAGE COTÉ ADMIN CONTROLLER
***************************************************************************************************************************/

.form {
    width: 300px;
    background-color: #9999ff;
    padding: 5%;
    display: inline-block;
    
    margin: 10px;
}

.form div label {
    float: left;
}

form {
    display: block;
    width: 300px;
    margin: auto;
}



.visual {
    background-color: wheat;
    width: 500px;
    min-height: 500px;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
}



/* CSS importe des maquettes (pour le moment je surcharge mais il faudra faire le tri) */

