{#{% include "NetMediaBundle::Front/accueil_layout.html.twig" %}#}
{% extends 'NetMediaBundle::Front/accueil_layout.html.twig' %}

{% block body%}

<!--<div id = "carousel">carousel</div>-->
<div id = "carousel">
    <ul class="carrousel">
	<li>A</li>
	<li>B</li>
	<li>C</li>
	<li>D</li>
	<li>E</li>
    </ul>
</div>

<div id = "rendu-gd">
    <div class = "rendu-jacket">
        rendu jacket
    </div>
    <div class = "description-film">
        description
    </div>
</div>

{% endblock %}